body {
  background-color: rgb(224, 215, 215);
  color: rgb(43, 41, 41);
  font-family: 'Ubuntu Mono', monospace;
  font-size: small;
  line-height: normal;
}

h1 {
  /* color: rgb(119, 23, 23); */
  color: rgb(58, 53, 53);
  font-family: 'Indie Flower', cursive;
  font-size: xx-large;
  line-height: normal;
  text-align: center;
  padding: 8px 0px 12px 0px;
  border-radius: 30px 12px;
  text-align: center;
  background-color:rgb(173, 167, 158);
  font-family: 'Ubuntu Mono', monospace;
  /* font-weight: bold; */
  /* width: 150px; */
  /* width: 175px; */
  margin: auto;
}

h2 {
  /* color: #A9333A; */
  color: rgb(85, 77, 77);
  font-family: 'Caveat', cursive;
  font-size: x-large;
  line-height: normal;
}

a {
  color: rgb(58, 53, 53);
  text-decoration: none;
  padding: 0px;
}

a:hover {
  color: rgb(121, 121, 115);
  text-decoration: underline;
}

.container {
  text-align: justify;
  /* background-color:rgb(194, 183, 183); */
  width: 500px;
  margin: auto;
  /* box-shadow: 0px 10px 30px rgb(177, 174, 174); */
  /* border: 3px solid #73AD21; */
}

.card {
  text-align: justify;
  /* background-color: rgb(182, 171, 152); */
  background-color:rgb(194, 183, 183);
  width: 500px;
  margin: auto;
  padding: 25px;
  box-shadow: 0px 10px 10px rgb(177, 174, 174);
  border-radius: 30px;
  /* border: 3px solid #73AD21; */
}

.img-circle {
  border-radius: 25% 10%;
}

.list-inline > li {
  /* display: inline-block; */
  /* padding: 0px 20px; */
  list-style: none;
  padding-left: 0px;
}

.button {
  /* border-radius: 30px; */
  /* margin: 4px 2px 0px 0px; */
  padding: 8px 0px 12px 0px;
  /* padding: 8px 0px 12px 0px; */
  border-radius: 30px 12px;
  text-align: center;
  background-color:rgb(173, 167, 158);
  font-family: 'Ubuntu Mono', monospace;
  font-size: x-large;
  font-weight: bold;
  line-height: normal;
  /* width: 150px; */
  width: 175px;
  margin: auto;
  }

  .button:hover {
  background-color:rgb(148, 143, 134);
  }
